@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
body{
    font-family: "Geo", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

header{
    width: 100%;
    margin: auto;
    height: 30px;
    align-items: center;
    position: fixed;
    z-index: 100;
    display: flex;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;

}

header{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 4rem;
}

header a{
    color: cyan;
    margin: 3rem;
    font-weight: 700;
    font-size: 2rem;
    transition: .2s ease-in-out;
    scroll-behavior: smooth;
}

header a:hover{
    color: #cc3434;
    margin: 3rem;
    font-weight: 700;
    font-size: 3.25rem;
}

header a:active{
    color: #cc3434;
    margin: 2rem;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 0 0 25px #ff5358, 0 0 20px #ff000b;
}

#home{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}
.alpha_semi_semi_dark_block{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    width: auto;
    height: auto;
    padding: 5px;
}

.h1{
    display: flex;
    flex-direction: column;
}

#content{
    /*background-image:url("./Logo_BG.png");*/
    height: 75rem;
    width: 100%;
    background-size: cover;
    /*background-position: center;*/
    margin-top:auto;
    background: darkred;
}

#about{
    height: 75rem;
    width: 100%;
    background-size: cover;
    margin-top:auto;
    background: darkcyan;
}

.layout {
    width: 100%;
    display: grid;
    grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
    gap: 8px;
}

.main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: chocolate;
    margin-top: 1.5rem;
    height: 80vh;

    h1{

    }
}

.header { grid-area: header; }
.main {
    grid-area: main;
    margin-bottom: 1rem;
}
.footer { grid-area: footer; }

.layout_2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.grow1 {
    flex-grow: 1;
    background: chocolate;
}

.grow2 {
    flex-grow: 1;
    background: saddlebrown;

}

.eh{
    height: 10rem;
    display: flex;
    grid-area: Team;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eh_2{
    height: 10rem;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    "Team Team Team"
    ". . .";
    background: coral;
    margin-top: 1rem;


}

.Team {
    display: flex;
    grid-area: Team;
    background: chocolate;
    text-align: center;
    height: 20vh;
    justify-content: center;
    align-items: center;
}


